{% extends "layout.html" %}
{% block content %}
<main id="content" role="main">
	<h1 class="govuk-heading-l govuk-!-margin-bottom-3">{{ detail.name }}</h1>
	<div class="govuk-grid-row">
		<section class="govuk-grid-column-two-thirds">
			<p class="govuk-body">{{ detail.description }}</p>
		</section>
		<section class="govuk-grid-column-one-third">
			<div class="phase-circle">
				<p class="circle {{ quadrant | lower }}"></p>
				<p class="govuk-!-font-size-16 govuk-!-font-weight-bold circle-label govuk-body">{{ detail.quadrant }}</p>
			</div>
			<hr />
			<p class="govuk-!-font-size-16 govuk-!-font-weight-bold govuk-body">{{ detail.ring }}</p>
		</section>
	</div>
</main>
{% endblock %}