{% extends "layout.html" %}

{% block content %}

<main id="content" role="main">

	<h1 class="govuk-heading-l" >HMPPS Technical Radar</h1>

	<div class="govuk-grid-row">
	{% for categories in radarcategories %}
		<section class="govuk-grid-column-one-quarter">
			<h2 class="tag {{ categories.class }} govuk-heading-s">{{ categories.title }}</h2>
		</section>
	{% endfor %}
	</div>

	{% for quadrant in radarquadrants %}
		<h2 class="heading-large govuk-heading-m service-area">{{ quadrant }}</h2>
		<div class="govuk-grid-row">
			{% for categories in radarcategories %}
			<section class="govuk-grid-column-one-quarter">
				<ul class="link-list border-{{categories.class}}">
						{% for blip in radardata %}
							{% if (categories.title == blip.quadrant) and (quadrant == blip.ring) %}
								<li><a href="detail/{{ blip.id}}" class="govuk-link" >{{blip.name}}</a></li>
							{% endif %}
					{% endfor %}
					</ul>
				</section>
			{% endfor %}
		</div>
	{% endfor %}

	<p class="govuk-body-xs govuk-!-margin-top-9">Last updated 30th June 2020.<p>

</main>

{% endblock %}